<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Categories", "Index", "Groups")</li>
                            @* <li>@Html.ActionLink("Ingredients", "Index", "Admixtures")</li>*@
                            <li>@Html.ActionLink("Nutritions", "Index", "Nutritions")</li>
                            <li>@Html.ActionLink("Offers", "Index", "Offerts")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Products", "Index", "Products")</li>
                        </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Favorites", "ViewFavorites", "Favorite")</li>
                                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
                                    <li>@Html.ActionLink("Type of Users", "Index", "TypeofUsers")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Orders<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Orders", "Index", "Orders1")</li>
                                    <li>@Html.ActionLink("Order Details", "Index", "OrderDetails")</li>
                                    @*  <li>@Html.ActionLink("Order Status", "Index", "OrderStatus")</li>*@
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("All", "ViewOrders", "Orders")</li>
                                </ul>
                            <li>@Html.ActionLink("Reservation", "ViewReservation", "Reservation")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">?<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("About", "About", "Home")</li>
                                    <li>@Html.ActionLink("Contacts", "Index", "Contacts")</li>
                                    <li>@Html.ActionLink("Info", "Contact", "Home")</li>
                                </ul>
                            </li>


                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My Application</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        </body>
        </html>
