@model IEnumerable<smileRed.Domain.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>

<p>

    @Html.ActionLink("New Order", "Create") /   @Html.ActionLink("View OrderDetails", "Index", "OrderDetails")
</p>
<div class="table-responsive">
    <div></div><div></div>
    <table class="table table-bordered ">
        <tr class="active">
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOrder)
            </th>

            @*
        <th>
            @Html.DisplayNameFor(model => model.OrderStatuses.OrderStatusName)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.VisibleOrders)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveOrders)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delete)
            </th>
            <th></th>
        </tr>

                @foreach (var item in Model)
                {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOrder)
            </td>
            @*
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatuses.OrderStatusName)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.VisibleOrders)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveOrders)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delete)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
            </td>
        </tr>
                }
            </table>
            </br>
            <p><h6>Warning: You can not Delete until the user allows (Orders, Delete ☑)</h6></p>
        </div>
